body {
  text-align: center;
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
  margin: 50px;
}
h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}
.reference {
  background-color: rgb(255, 237, 177);
  color: rgb(36, 3, 102);
  padding: 3px 6px;
  border-radius: 3px;
}
a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}
#footer_download {
  padding: 12px 20px;
  border-radius: 8px;
  margin: 32px auto;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
  width: 300px;
  /* margin-left: 24px; */
}

main {
  padding: 32px;
  width: 700px;
  margin: 32px auto;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: white;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 8px;
  background-color: rgb(122, 74, 218);
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  margin: 14px 0px;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
.yellow {
  color: rgb(255, 237, 177);
  border-color: rgb(247, 209, 85);
}
img {
  margin-bottom: 50px;
  height: 180px;
  width: 300px;
}
footer {
  text-align: center;
}

footer p {
  color: grey;
  margin-top: 30px;
}
